
* {
  margin: 0;
  padding: 0;
}

body {
}

.sidebar {
  //background-color: #950f1c;
  .image {
    i.fas {
      color: white;
      font-size: 34px;
      justify-content: center;
      align-items: center;
    }
  }
}